@import 'normalize.css';
.pokerow{
    background: lightblue;
    border: 1px solid black;
    width: 100%;
    height: 80px;
    line-height: 80px;
    cursor: pointer;

}

.pokerow span{ 
    font-size: 20px;

}

.avatar-container{
    width: 120px;
    display: inline-block;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    max-height: 75px;
    max-width: 100px;
}
.pokeapp{
    width: 100%;
    background: red;
    
}
.poketable{
    position: fixed;
    width: 29%;
    float: left;
    height: 100%;
    overflow-y: auto;
    padding: 0;
}
.pokechat{
    border: red solid 1px;
    width:70%;
    float: right;
    height: 100%;
    overflow-y: auto;
    padding: 0;
}

.message-animation-enter {
    opacity: 0;
    transition: opacity .5s ease-in;
}

.message-animation-enter.message-animation-enter-active {
    opacity: 1;
}